// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #FAB2EA;

// Override Bootstrap color system

$orange: #331832;

// Override Bootstrap default state colors

$primary: $orange;
